Adafruit-Blinka==5.3.2
adafruit-circuitpython-ads1x15==2.2.3
adafruit-circuitpython-busdevice==5.0.1
Adafruit-PlatformDetect==2.15.0
Adafruit-PureIO==1.1.5
RPi.GPIO==0.7.0
requests
pymysql
w1thermsensor
peewee==3.14.4
pigpio==1.78
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycparser==2.20
pycrypto==2.6.1
pyftdi==0.52.0
PyGObject==3.30.4
PyMySQL==1.0.2
python-daemon==2.2.4
tabulate==0.8.7
terminaltables==3.0.0
